<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/hangmanicon.ico" type="image/icon">
    <title id="title">HangMan</title>


    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="./index.css">
    <script src="./game.js" defer></script>

    
 
</head>
<body class="bg-[#1d1d1d]">

    <div class=" w-fit h-fit absolute top-12 left-16 text-gray-200 font-light text-4xl flex justify-between items-center invisible lg:visible">
        <img src="./assets/hangmanicon.png" class="w-14 mr-2 mt-3" alt="app-icon">
        HangMan
        
    </div>
    
    <div id="main-container" class="w-[80%] md:w-fit h-fit  m-auto flex flex-col justify-between mt-16">
        
        <!-- <input type="text" id="letter-input" maxlength="1"> -->

        <div id="text-font" class="h-fit w-full text-white flex justify-between text-md ">

            <div class="flex justify-between flex-col">
                <nav class="mb-2">Errors: <span id="amount-of-errors">0</span></nav>
                <nav class="mb-2">Defeats: <span id="amount-of-defeats">0</span></nav>
                <nav class="mb-2">Wins: <span id="amount-of-wins">0</span></nav>
            </div>
            
            <div class="flex justify-end relative font-sans text-sm h-fit ">  
                <i id="info-icon" class="fa-solid fa-circle-info"></i>
                <div id="info-icon-banner" class="absolute top-0 right-5 w-56 h-fit px-3 py-2 text-left text-xs text-gray-600 bg-gray-100 invisible">
                    Spaces are represented by hyphen.
                    <li>url/words? to see all words in the game or </li>
                    <li>url/words?category=animais to see a specific category </li>
                    
                </div>
            </div>
        
        </div>

        <div class="h-[220px] w-full  relative ">

            <!-- Rope -->
            <!-- <div class="absolute right-36 left-0 top-8 m-auto h-[180px] w-2  rounded-sm bg-red-400"></div>
            <div class="absolute right-10 left-0 top-8 m-auto h-2 w-[120px] rounded-md bg-white"></div> -->

            <div class="absolute right-10 left-0 top-8 m-auto h-[180px] border-t-8 border-l-8 border-white w-[120px] rounded-sm "></div>


            <div id="rope1" class="z-20 absolute right-0 left-0 top-16 m-auto h-[32px] w-[16px] border-2 border-orange-800 rounded-b-full rounded-t-full"></div>
            <div id="rope2" class="z-20 absolute right-0 left-0 top-8 m-auto h-10 w-[2px] bg-orange-800"></div>

            <div id="help-message-container" class="bg-gray-100 z-40 absolute top-5 right-0 left-28 m-auto rounded-t-full rounded-br-full w-fit h-fit py-3 px-2 text-gray-600 font-extrabold font-mono invisible opacity-0 duration-1000">
                HELP!
            </div>

            <!-- Stickman -->
            <div id="stick-head" class="z-30 absolute top-0 bottom-24 left-3 right-0 m-auto rounded-full w-8 h-8 rotate-[35deg] bg-white"></div>

            <div id="stick-body" class="z-10 absolute top-0 bottom-7 left-0 right-0 m-auto rounded-md w-2 h-20 bg-white"></div>
            
            <div id="stick-left-arm" class="z-10 absolute bottom-4 top-0 rotate-[12deg] left-0 right-3 m-auto rounded-md w-2 h-14 bg-white"></div>
            
            <div id="stick-right-arm" class="z-10 absolute bottom-9 top-0 rotate-[-12deg] left-4 right-0 m-auto rounded-md w-2 h-14 bg-white"></div>

            <div id="stick-left-leg" class="absolute bottom-0 top-28 rotate-[5deg] left-0 right-2 m-auto rounded-md w-2 h-24 bg-white"></div>
            <div id="stick-right-leg" class="absolute bottom-0 top-28 rotate-[-10deg] left-3 right-0 m-auto rounded-md w-2 h-20 bg-white"></div>

        </div>


        <div id="absolute-letters-container" >

            <div id="letters-container">
                
            </div>
            
        </div>


        <div id="letters-to-choose-container" class="w-[100%]">


        </div>

        <div class="w-full h-[10%] m-auto  flex justify-center">
            <button id="return-btn" class="border-2 border-white font-bold text-white px-2 text-sm">Return</button>

        </div>


        <div id="defeat-div-banner" class="z-50 absolute top-0 bottom-24 left-0 right-0 m-auto opacity-0 ease-out duration-1000
        w-[40vh] h-[15vh] border-[3vh] text-[1.4em] border-red-700 text-red-600 font-bold flex justify-center items-center invisible">
         G A M E O V E R 
        </div>

     

    </div>
  



    
</body>
</html>