<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./assets/hangmanicon.ico" type="image/icon">
    <title id="title">HangMan</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./main.css">
</head>
<body class="bg-[#1d1d1d]">

    <div class="w-fit h-fit absolute top-6 left-16 text-gray-200 font-light text-4xl flex justify-between items-center">
        <img src="./assets/hangmanicon.png" class="w-14 mr-2" alt="app-icon">
        HangMan
        
    </div>

    <main class="w-96 h-fit p-10 absolute top-0 bottom-0  left-0 right-0 m-auto" id="main">
       
    </main>



    <script defer>
        
            console.log(window.location.href)

        // Array.from(document.getElementById("main").children).map(childButton => {
        //         childButton.addEventListener("click", (e) => {
        //                 window.location.href = `/game.html?category=${e.target.getAttribute("value")}`
        //             })
        //         })
                
                window.onload = async () => {
            const res = await fetch(`${window.location.origin}/allcategories`)
            const data = await res.json();
            console.log(data)
            data.map(theme => {
                let newButton = document.createElement("button")
                newButton.className = "category-btn"
                newButton.setAttribute("value", theme)
                newButton.innerText = theme
                newButton.addEventListener("click", e => window.location.href = `/game?category=${theme}`)
                document.getElementById("main").append(newButton)

            })


        }


    </script>
</body>
</html>