<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./assets/hangmanicon.ico" type="image/icon">
    <title id="title">HangMan</title>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="./main.css">
    <script src="./index.js" defer ></script>


</head>
<body class="bg-[#1d1d1d]">

    <div class="w-fit h-fit absolute top-6 left-16 text-gray-200 font-light text-4xl flex justify-between items-center">
        <img src="./assets/hangmanicon.png" class="w-14 mr-2" alt="app-icon">
        HangMan
        
    </div>

    <main class="w-96 h-fit p-10 absolute top-0 bottom-0  left-0 right-0 m-auto" id="main">
       
    </main>



   
</body>
</html>